# Live Code 3

```txt
Adnan Rio
Batch 14
```

## Description

### Objective

```txt
1. Berapa rata-rata, median, dan modus dari data tersebut sebelum dihilangkan outliernya? Bagaimana kecerendungan pemusatan datanya? jelaskan jawabanmu!***[Menjawab Rubrik 2a]***
2. Sebelum melakukan extreme value analysis, kamu harus melakukan pengecekan skewness dari distribusi datanya. Apakah datanya skew atau normal? jelaskan jawabanmu!***[Menjawab Rubrik 2b]***
3. Ada dua teknik untuk melakukan extreme value analysis, teknik yang mana yang kamu pakai? berikan alasanmu berdasarkan data!***[Menjawab Rubrik 2c]***
4. Ada berapa banyak data yang merupakan outlier? apakah cukup signifikan jumlahnya? (anggap bahwa jumlah signifikan lebih dari 50%). Jelaskan jawabanmu!***[Menjawab Rubrik 2d]***
5. Setelah kamu menyingkirkan outlier dari data dan melakukan uji hipotesis, apakah ada perbedaan yang signifikan? jelaskan jawabanmu!***[Menjawab Rubrik 2e]***
```

### Problem Statement

```txt
Kamu adalah seorang data scientist di salah satu perusahaan penjual Liquor. Ada terdapat 5000 transaksi yang terjadi di satu hari untuk suatu produk. Tim marketing menduga ada suatu keanehan pada data transaksi. Bantu tim marketing untuk memvalidasi dugaan mereka apakah betul ada anomali pada data transaksi.
```

## Working Area

In [135]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [148]:
df=pd.read_csv('h8dsft_P0LC3_adnan_rio.csv')

 `query yang telah dibuat di Google Cloud Platform`

In [137]:

#SELECT 
#sale_dollars
#FROM `bigquery-public-data.iowa_liquor_sales.sales` LIMIT 5000
#LIMIT 5000

In [149]:
df.head(5) # Melihat 5 data teratas

   sale_dollars
0        281.34
1        814.20
2        150.00
3        486.00
4       3596.40

In [139]:
df.tail()  # Melihat 5 data terbawah

      sale_dollars
4995         31.86
4996         50.36
4997         91.44
4998       4177.92
4999        587.16

In [140]:
df.shape

(5000, 1)

In [141]:
df.info() # Mengecek tipe data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sale_dollars  5000 non-null   float64
dtypes: float64(1)
memory usage: 39.2 KB

`-----------------------------Gunakan guideline/langkah berikut untuk mempermudah kamu dalam menganalisa.-------------------------
`

`1. Berapa rata-rata, median, dan modus dari data tersebut sebelum dihilangkan outliernya? Bagaimana kecerendungan pemusatan datanya? jelaskan jawabanmu!***[Menjawab Rubrik 2a
`

In [151]:
mean = df.sale_dollars.mean()
median = df.sale_dollars.median()
print(f' Mean adalah  {mean}, median adalah {median}')

 Mean adalah  619.2825679999986, median adalah 126.0

In [153]:
df.sale_dollars.mode()

0    45.72
Name: sale_dollars, dtype: float64

`2. Cek skewness data untuk mengetahui apakah data terdistribusi normal atau tidak`

In [ ]:
df.skew()

`3. Lakukan pengolahan data dengan menggunakan extreme value analysis.`

In [160]:
Q1 = df.sale_dollars.quantile(0.25)
Q3 = df.sale_dollars.quantile(0.75)
Q1, Q3

(44.08, 614.34)

In [159]:
IQR = Q3 - Q1
IQR

570.26

In [161]:
lower_limit = Q1 - 1.5 * IQR
upper_limit = Q3 + 1.5 * IQR
lower_limit, upper_limit

(-811.31, 1469.73)

In [162]:
df_outliers = df[(df.sale_dollars < lower_limit) | (df.sale_dollars > upper_limit)]
df_outliers.shape

(489, 1)

`4. Buat variabel baru yang menyimpan data yang sudah dibuang data anomalinya.`

In [163]:
df_no_outliers = df[(df.sale_dollars > lower_limit) & (df.sale_dollars < upper_limit)]
df_no_outliers

      sale_dollars
0           281.34
1           814.20
2           150.00
3           486.00
5            24.93
...            ...
4994         74.16
4995         31.86
4996         50.36
4997         91.44
4999        587.16

[4511 rows x 1 columns]

In [166]:
check = len(df.index) - len(df_outliers.index)
print(f'Jumlah baris dari df_no_outliers; {len(df_no_outliers.index)}, sama dengan (df - df_outliers); {check}')

Jumlah baris dari df_no_outliers; 4511, sama dengan (df - df_outliers); 4511

`5. Pertanyaan Analisis`

-   Berapa rata-rata, median, dan modus dari data tersebut sebelum dihilangkan outliernya? Bagaimana kecerendungan pemusatan datanya? jelaskan jawabanmu!
Berdasarkan hasil perhitungan central of tendency diperoleh bahwa nilai mean, median, modus memiliki nilai berbeda. Hal ini menunjukan bahwa data tersebut memiliki karakteristik persebaran nilai data yang bervariasi dan tidak terpusat. Hal ini bisa dilihat juga dari nilai dari standar deviasi yang lebih tinggi dari rata-rata.

-   Sebelum melakukan extreme value analysis, kamu harus melakukan pengecekan skewness dari distribusi datanya. Apakah datanya skew atau normal? jelaskan jawabanmu!
Bersadarkan dari nilai skewness dan kurtosis dan melihat dari bentuk grafik, data tersebut tidak berdistribusi normal dikarenakan bentuk grafik data tersebut tidak menyerupai lonceng dalam artian bahwa persebaran data tersebut tidak terpusat di tengah.

-   Ada dua teknik untuk melakukan extreme value analysis, teknik yang mana yang kamu pakai? berikan alasanmu berdasarkan data!
Teknik yang extreme value analysis yang digunakan dalam kasus ini adalah teknik EVA dengan data yang tidak terdistribusi normal. Hal ini dikarenakan data tersebut berjenis skew right, data tidak terpusat di nilai rata-rata dan bentuk grafik data tersebut tidak menyerupai lonceng.

-   Ada berapa banyak data yang merupakan outlier? apakah cukup signifikan jumlahnya? (anggap bahwa jumlah signifikan lebih dari 50%). Jelaskan jawabanmu! Jumlah outlier hanya 398/5000 (7.96%, lebih kecil dari 50%), tidak teralu signifikan

-   Setelah kamu menyingkirkan outlier dari data dan melakukan uji hipotesis, apakah ada perbedaan yang signifikan? jelaskan jawabanmu!
Berdasarkan uji hipotesis yang dilakukan, diperoleh hasil bahwa hipotesis awal (H0) ditolak. Maksud dari hal tersebut adalah bahwa nilai rata-rata sebelum dihapus data outlier itu berbeda dengan setelah dihapus data outlier. Maka terdapat perbedaan yang signifikan antara data yang sebelum dihapus outlier dengan data yang setelah dihapus outlier.